// Barlow Semi Condensed 500, 600
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  outline-width: 0;
  border-width: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: var(--clr-very-dark-blackish-blue);
  background-color: var(--clr-light-grayish-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 1.5rem;
  line-height: 1.5;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}
